<div class="col-lg-8 panel panel-default float-left">
  <h1 class="h1-strong">{{title}}</h1>
  <div id="publications">
    <p>{{publication}}</p>
    <div *ngFor="let publication of publications" class="item-publication">
      <div class="card">
        <div class="card-body">
          <div class="image-user float-left">
            <a href="#">

              <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image" />
              <img src="assets/perfil-usuario.jpg" *ngIf="!publication.user.image" />

            </a>
          </div>
          <div>
            {{publication.user.name +' '+publication.user.surname}}
          </div>

          <h4 class="publication-text float-left">
            {{publication.text}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sidebar class="col-lg-4 panel panel-default float-left"></app-sidebar>

<div class="clearfix"></div>