<div class="col-lg-8">
  <h1 class="h1-strong">{{title}}</h1>

  <div class="people">
    <div *ngFor="let user of users" class="item-user">
      <div class="card">
        <div class="card-body">
          <div class="image-user float-left">
            <a href="#">

              <img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image" />
              <img src="assets/perfil-usuario.jpg" *ngIf="!user.image" />

            </a>
          </div>
          <div class="user-name float-left">
            <p>
              <a href="">
                {{user.name + ' ' + user.surname}}
              </a>
            </p>
            <p class="nickname">
              {{user.nick}}
            </p>
          </div>

          <!-- Seguir y dejar de seguir-->
          <div class="float-right" *ngIf="user._id != identity._id">
            
            <button class="btn btn-success" *ngIf="this.follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
              <span class="fa fa-plus"></span>
              Seguir 
            </button>

            <button class="btn btn-primary ml-2" *ngIf="this.follows.indexOf(user._id) >= 0"
              (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)" (click)="unfollowUser(user._id)">

              <span *ngIf="user._id == followUserOver; else following">
                <span class="fa fa-minus"></span>
                Dejar de Seguir
              </span>

              <ng-template #following>
                <span class="fa fa-check"></span>
                Siguiendo
              </ng-template>

            </button>
          </div>
        </div>
      </div>
    </div>
    <nav class="Page navigation example">
      <ul class="pagination pull-right">
        <li class="page-item" *ngIf="page > 1">
          <a class="page-link" [routerLink]="['/gente',prev_page]">Anterior</a>
        </li>
        <li class="page-item" *ngIf="pages != page">
          <a class="page-link" [routerLink]="['/gente',next_page]">Siguiente</a>
        </li>
      </ul>
    </nav>

  </div>
</div>