<div class="sidebar-32">

  <h1 class="h1-strong">
    Hola, {{identity.nick}}
  </h1>

</div>

<div id="user-card" class="col-lg-12 card card-body">
  <div class="avatar float-left">
    <img src="{{ url+'get-image-user/'+identity.image }}" *ngIf="identity.image" />
    <img src="assets/perfil-usuario.jpg" *ngIf="!identity.image" />
  </div>
  <div class="name-surname float-left">
    <a href="#">
      {{identity.name+' '+identity.surname}}
    </a>
    <p class="nickname">{{identity.nick}}</p>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>

  <div class="stats" *ngIf="stats">

    <div class="following-data">
      <a href="#">
        <span class="label-stats"> Siguiendo</span>
        <span class="label-stats"> {{stats.following}}</span>
      </a>
    </div>
    <div class="following-data">
      <a href="#">
        <span class="label-stats"> Seguidores</span>
        <span class="label-stats"> {{stats.followed}}</span>
      </a>
    </div>
    <div class="following-data">
      <a href="#">
        <span class="label-stats"> Publicaciones</span>
        <span class="label-stats"> {{stats.publications}}</span>
      </a>
    </div>

  </div>
</div>

<!-- FORMULARIO DE PUBLICCIONES -->

<div id="new-publication" class="card card-body mt-4">
  <h3>Crear formulario</h3>
  <form #newPubForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">
    <p>
      <label>¿Que estas pensando hoy?</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
    </p>
    <p>
      <label> Sube tu foto.</label>
      <input type="file" placeholder="Subir image">
    </p>

    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
  </form>
</div>